<script>
(function () {
    var d = document;

    var CopyToClipboard = function (domElm) {
        var r = d.createRange();
        r.selectNode(domElm);
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(r);
        domElm.select();
        d.execCommand('copy');
        window.getSelection().removeAllRanges();
    };

    var replace_math_symb = function(s){
      return s.replace(/(`[^`]+`)/g, '<<math_symbol>>');
    };

    var copyBtn = d.getElementById('engTermCopy');

    if (copyBtn) {
        var copyBlock = d.createElement('textarea');
        copyBlock.setAttribute('id', 'engTermCopyArea');
        copyBlock.style.position = 'absolute';
        copyBlock.style.left = '-1000px';
        copyBlock.style.top = '-1000px';
        copyBlock.style.width = '1px';
        copyBlock.style.height = '1px';
        //copyBlock.style.opacity = 0;

        var tgtElement = copyBtn.parentElement.getElementsByClassName('field-value')[0];

        var textToCopy = '';
        var elmsToCopy = [];

        elmsToCopy.push(tgtElement.getElementsByClassName('heading')[0]);
        elmsToCopy.push(tgtElement.getElementsByClassName('definition')[0]);
        elmsToCopy.push(tgtElement.getElementsByClassName('notes')[0]);
        elmsToCopy.push(tgtElement.getElementsByClassName('examples')[0]);
        elmsToCopy.push(tgtElement.getElementsByClassName('labels')[0]);
        elmsToCopy.push(tgtElement.getElementsByClassName('origin')[0]);

        for (var _elm of elmsToCopy) {
            if (_elm.innerText.trim().length > 0) {
                // textToCopy = textToCopy + _elm.innerText + '\r\n\r\n';
                textToCopy = textToCopy + replace_math_symb(_elm.innerText) + '\r\n\r\n';
            };
        };

        copyBtn.addEventListener('click', function () {
            d.body.appendChild(copyBlock);
            copyBlock.value = textToCopy.trim();
            CopyToClipboard(copyBlock);
            d.body.removeChild(copyBlock);
        });

        copyBtn.addEventListener('keyup', function(evt) {
            if (evt.keyCode === 13) {
              evt.preventDefault();
              copyBtn.click();
              copyBtn.focus();
            };
        });

      copyBtn.style.display = 'block';

    };
})();
</script>
