<!DOCTYPE html>

<html
    lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="{{ page.bodyClass | default: layout.bodyClass }}">
    <header class="{% if site.has_brand_name %}brand{% endif %}">
      <div class="site-headline">
        <div class="parent-org-reference">
          <a href="{{ '/' | relative_url }}" class="logo-link">
            <img src="{{ site.committee.main_logo.path | relative_url }}" alt="{{ site.committee.main_logo.alt_text }}">
          </a>
        </div>

        <div class="site-title">
          {% include committee-widget.html %}

          <h1 class="title">
            <a href="/">{{ site.title_html | default: site.title }}</a>
          </h1>
        </div>
      </div>

      {%- assign nav_items = page.nav_items | default: layout.nav_items %}
      {%- if nav_items %}
        <nav class="priority-nav">
          <ul>
            {%- for item in site.nav.items %}
              {%- if nav_items contains item.id %}
                <li>
                  <a href="{{ item.url }}">{{ item.title }}</a>
                </li>
              {%- endif %}
            {%- endfor %}
          </ul>
        </nav>
      {%- endif %}

      {%- if site.nav %}
        <nav class="expandable-nav">
          <ul>
          {%- for item in site.nav.items %}
            <li>
              <a href="{{ item.url }}">{{ item.title }}</a>
              {%- if item.description %}
                <p class="desc">{{ item.description }}</p>
              {%- endif %}
            </li>
          {%- endfor %}
          </ul>
        </nav>
      {%- endif %}
    </header>

    <main>
      {{ content }}
    </main>

    {% if site.awards and page.hide_awards != true %}
      <p class="awards">
        <i class="fa fa-certificate icon"></i>
        Winner of
        {% for award in site.awards %}
          <span class="award">the <a href="{{ award.path }}"
            >{{ award.title }}</a>{%- unless forloop.last -%}, {% endunless %}</span>{% endfor %}.
      </p>
    {% endif %}

    <footer>
      <ul role="nav">
        {% for link in site.social.links %}
          <li>
            <a href="{{ link.url }}">
              {% if link.url contains "twitter.com" %}
                <i class="fab fa-twitter"></i>
              {% elsif link.url contains "github.com" %}
                <i class="fab fa-github"></i>
              {% elsif link.url contains "facebook.com" %}
                <i class="fab fa-facebook"></i>
              {% elsif link.url contains "linkedin.com" %}
                <i class="fab fa-linkedin"></i>
              {% else %}
                {{ link.title }}
              {% endif %}
            </a>
        {% endfor %}
        {% for item in site.footer_nav %}
          <li><a href="{{ item.url }}">{{ item.title }}</a>
        {% endfor %}
      </ul>

      <div class="powered-by">
        <span class="powered-by-text">Powered by</span>
        <a href="{{ site.powered_by.url }}" class="powered-by-logo"><img src="{{ site.powered_by.logo_path }}" alt="{{ site.powered_by.title }}"/></a>
      </div>

      <p class="legal">
        © All Rights Reserved
      </p>

      <div class="logo">
        <a href="{{ site.committee.footer_logo.url }}"><img src="{{ site.committee.footer_logo.path | relative_url }}" alt="{{ site.committee.footer_logo.alt_text }}"/></a>
      </div>
    </footer>

    {% include script.html %}

    {% if site.geolexica.math %}
      {%- include math-config.html -%}
    {% endif %}

    <template id="expandableNavTrigger">
      <button class="nav-expand-trigger">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
      </button>
    </template>

    <script src="{{ "/assets/js/nav.js" | relative_url }}"></script>

    {% assign extra_scripts = page.extra_scripts | default: layout.extra_scripts %}
    {% if extra_scripts %}
      {% for sc in extra_scripts %}
        <script
          src="{{ sc.src | relative_url }}"
          {% if sc.integrity %}integrity="{{ sc.integrity }}"{% endif %}
          {% if sc.crossorigin %}crossorigin="{{ sc.crossorigin }}"{% endif %}></script>
      {% endfor %}
    {% endif %}

  </body>
</html>
